<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Registro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<app-explore-container name="Tab 1 page"></app-explore-container>
<div class="container">
  <h1 class="titulo">Consultorio</h1>
  <div class="cajaT">
    Registrate y agenda tu cita ya!!!
  </div>
  <button class="login-button facebook-button"><ion-icon name="logo-facebook"></ion-icon> Iniciar sesión con Facebook</button>
  <button class="login-button google-button"><ion-icon name="logo-google"></ion-icon>Iniciar sesión con Google</button>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/js/all.min.js"></script>
</div>
</ion-content>
