.custom-icon {
    font-size: 35px; /* Ajusta el tamaño según tus preferencias */
    //margin-top: 100px;
  }
  .prueba{
    //color: aqua;
    //left: 5%;
    margin: 5%;
    position: relative;
  }

  .delete-button {
    background-color: none;
    color: white;
    font-weight: bold;
    position: relative;
    left: 5%;
  }